Django==5.0.4
django-crispy-forms==1.14.0
ajax-advanced-helpers==1.0.4
django-advanced-datatables==1.0.0
django-otp
qrcode
django-advanced-menus==1.0.0
django-advanced-modals==1.0.0
django-show-source-code==0.0.8
Sphinx
celery
redis
flower
django-celery-email
webauthn==2.1.0
django-extensions 
Werkzeug
msal>=1.28
